[Unit]
Description=Apache Superset
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=estudiante
WorkingDirectory=/home/estudiante/twitter_sent_analysis/
ExecStart=/home/estudiante/twitter_sent_analysis/superset.sh

[Install]
WantedBy=multi-user.target